<ion-header>
  <ion-toolbar color="light">
   
    <ion-title color="success">
        <ion-button (click)= "goBack()" color="light"><ion-icon name="arrow-round-back" ></ion-icon></ion-button>
        Articles</ion-title>

  </ion-toolbar>
 
</ion-header>

   
 
<ion-content>
<ion-row>
  <ion-col>
    <ion-item><ion-icon name="arrow-dropdown"></ion-icon>
      The latest experiment about ARTIFICIAL INTERLIGENCE
    </ion-item>
    <ion-item><ion-icon name="arrow-dropdown"></ion-icon>
        Understanding-the-it-sector
    </ion-item>
    <ion-item><ion-icon name="arrow-dropdown"></ion-icon>
        Information Technology in Sri Lanka
    </ion-item>
    <ion-item>

    </ion-item>
    <ion-item>

    </ion-item>
    <ion-item>

    </ion-item>
  </ion-col>
</ion-row>
  
</ion-content>
